<%- include("partials/header.ejs") %>

  <% if (locals.setup) {%>
    <h1>
      <%= setup %>
    </h1>
    <h2>
      <%= delivery %>
    </h2>
    <% } else { %>
      <h1>Click to generate jokes </h1>
      <% } %>
        <form method="POST">
          <input type="submit" class="btn" value="Generate Name" formaction="/submit">
        </form>


        <%- include("partials/footer.ejs") %>